export ECOMMERCE_DB_DSN=postgresql://alex:alex@localhost/ecommerce?sslmode=disable
PORT=4000
ENV=production
LIMITER_RPS=2
LIMITER_BURST=4
LIMITER_ENABLED=true
CORS_TRUSTED_ORIGINS=http://localhost:3000 http://localhost:8080